@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    position: fixed;
    width: 100%;
    padding: 1.5em 2%;
    display: block;
    justify-content: space-between;
    align-content: center;
    /* background: rgba(0, 0, 0, .2); */
    z-index: 1000;
    transition: .5s ease;
    top: 0;
}
.header:hover{
    background: white;
}
.logo{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    flex: 1;
    color: black;
}
/* .input-box{
    width: 41%;
    display: flex;
    padding-left: 20px;
    padding-right: 40px;
}
.input-box input{
    width: 100%;
    padding: 20px;
    height: 5px;
    outline: none;
    border-radius: 25px 0 0 25px;
    border: 1px solid gray;
}
.input-box input:focus{
    border-color: rgb(7, 7, 83);
}
.input-box button{
    border-radius: 0 25px 25px 0;
    border: 1px solid gray;
    cursor: pointer;
    border-left: none;
    min-width: 70px;
    height: 42px;
}
.input-box #clear-input{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color: gray;
    border-radius: 50%;
    display: none;
}
.input-box #clear-input:hover{
    background: rgb(248, 245, 245);
}
body.active #clear-input{
    display: inline-flex;
}
.container-input{
    position: relative;
    width: 100%;
    transition: .5s ease-in-out;
}
.dark-mode{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease;
}
.dark-mode:hover{
    background: rgb(233, 227, 227);
}
#dark{
    transition: .5s ease;
}
#light{
    scale: 0;
    transition: .5s ease;
}
.dark-mode i{
    position: absolute;
} */
.container-logo{
    display: flex;
    gap: 10px;
}
.icon{
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.icon span{
    position: absolute;
    width: 25px;
    height: 2px;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon span:nth-child(1){
    top: 35%;
    transition: .5s ease;
}
.icon span:nth-child(2){
    transition: .5s ease;
}
.icon span:nth-child(3){
    top: 65%;
    transition: .5s ease;
}

.icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.icon.active span:nth-child(2){
    opacity: 0;
    transform: translateX(100%);
}
.icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.over-lay{
    position: absolute;
}
.over-lay.active{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

body.active1{
    overflow: hidden;
}

.nav {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    background: #ddd;
    left: -100%;
    transition: .3s ease;
    z-index: 16;
    overflow: hidden;
    top: 0;
}
.nav.active{
    left: 0;
}
.container-logo2{
    display: flex;
    gap: 10px;
    padding: 2px 2%;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}
.container-left-in-nav{
    display: flex;
    align-items: center;
    margin-top: -7px;
}
.container-logo2 .logo2{
    font-size: 4em;
    margin-left: 60px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: "Protest Revolution", serif;
}
.icon2{
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.icon2 span{
    position: absolute;
    width: 25px;
    height: 2px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon2 span:nth-child(1){
    top: 35%;
    transition: .5s ease;
}
.icon2 span:nth-child(2){
    transition: .5s ease;
}
.icon2 span:nth-child(3){
    top: 65%;
    transition: .5s ease;
}

.icon2.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.icon2.active span:nth-child(2){
    opacity: 0;
    transform: translateX(100%);
}
.icon2.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.container-option{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}
.tap{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    /* position: fixed; */
    border-bottom: 1px solid black;
    padding: 10px;
}
.taps{
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}
.option{
    width: 200vw;
    display: grid;
    min-height: fit-content;
    height: calc(100vh - 60px);
    grid-template-columns: repeat(4, 50vw);
    transition: .5s ease;
    
}
.page h2{
    text-align: center;
}
.page{
    margin: 20px;
}
.page a{
    display: block;
    text-align: center;
    margin: 20px 0;
    color: gray;
    text-decoration: none;
}
.taps.active{
    color: red;
}
.container-right{
    display: flex;
    gap: 10px;
}
.icon-search{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid gray;
    transition: .5s ease;
    display: none;
}
.icon-search:hover{
    background: rgb(233, 227, 227);
}
.icon-close{
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid gray;
    transition: .5s ease;
    left: 5%;
    display: none;
}
.icon-close:hover{
    background: rgb(233, 227, 227);
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 9.5em 5%;
}
.container-mid{
    width: 450px;
    overflow: hidden;
    border: 1px solid black;
}
.container-mid img{
    width: 100%;
}
.container-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 100%);
    transition: .5s ease;
}
.container-left{
    border: 1px solid black;
    padding: 20px;
}
.container-left a{
    color: black;
    text-decoration: none;
}
.container-left a:hover{
    text-decoration: underline;
}
.container-bottom img{
    width: 25px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    margin: 0;
    margin-right: -5px;
    
}
.container-bottom{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: -4px;
}
.add-to-card{
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
.btn-add{
    width: 100%;
    height: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn-add:hover{
    background: #ddd;
}
.btn-add2{
    width: 100%;
    height: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn-add3:hover{
    background: #ddd;
}
.btn-add3{
    width: 100%;
    height: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn-add2:hover{
    background: #ddd;
}
.container-bottom img.active{
    opacity: 1;
}
.container-bottom img.active2{
    opacity: 1;
}
.container-bottom img.active3{
    opacity: 1;
}
.container-right2{
    display: block;
    border: 1px solid black;
    padding: 20px;
    height: 100%;
}
.container-right2 p{
    margin: 10px 0;
    font-size: 10px;
}
.container-right2 h6{
    margin: 10px 0;
}
.container-right2 .color div{
    width: 40px;
    height: 40px;
    background: gray;
    border: 1px solid;
    cursor: pointer;
    position: relative;
}
.container-right2 .color{
    gap: 5px;
}
.container-right2 .color div.active-color{
    position: relative;
    background: black;
}
.container-right2 .color div.active-color::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background: black;
    right: 50%;
    transform: translateX(50%);
    bottom: -10px;
}
.container-right2 .color div:nth-child(2){
    background: rgb(236, 236, 234);
}
.container-right2 .color div:nth-child(3){
    background-color:rgb(9, 9, 51);
}
.container-right2 .color{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.container-right2 .bottom-right{
    border-top: 1px solid black;
}
.container-right2 .bottom-right p{
    margin: 10px 0;
}
.container-right2 .size{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 5px;
}
.container-right2 .size div{
    width: 80px;
    height: 40px;display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s ease;
}
.select-size.active {
    background: black;
    color: white;
}
.select-size2.active {
    background: black;
    color: white;
}
.select-size3.active {
    background: black;
    color: white;
}
.container-mid{
    display: none;
}
.container-mid.active{
    display: block;
}
.container-img2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 100%);
    transition: .5s ease;
}
.container-img3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 100%);
    transition: .5s ease;
}
.container-right2{
    display: none;
}
.container-right2.active{
    display: block;
}
.active-pd{
    font-weight: 1000;
}

.content1 img{
    width: 100%;
}
.containerr{
    display: none;
}

.container-btm{
    display: none;
}
body.active4 .btn-add{
    background: black;
    color: white;
}
body.active2 .btn-add2{
    background: black;
    color: white;
}
body.active3 .btn-add3{
    background: black;
    color: white;
}
.container-pd{
    border-right: 1px solid;
}
.container-pd img{
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
    height: auto;
}
.container-prod{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border:1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.container-name .color-bottom{
    width: 10px;
    height: 10px;
    background: #1f293a;
}
.container-name{
    display: flex;
    justify-content: space-between;
    /* padding-right: 10px ; */
    align-items: center;
}
.container-bottom-pd{
    display: flex;
    align-items: center;
    gap: 2px;
    height: 50px;
}
.container-n{
    padding: 0 5%;
    margin-bottom: 10px;
}
.container-name h5{
    font-size: 10px;
}
.h5{
    max-width: calc((100vw - 10px) / 3);
    overflow: hidden;
    white-space: normal;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.container-header1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-header2{
    display: flex;
}
.logo{
    font-size: 4em;
    margin-top: -75px;
    margin-left: 100px;
    font-family: "Protest Revolution", serif;
}
.input-box{
    padding: 0 1%;
    position: relative;
    width: 40%;
}
.input-box input{
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}
.input-box label{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0.5;
    
}
.container-icon{
    align-items: center;
    display: flex;
    display: none;
}
.container-in-icon a{
    margin: 0 5px;
    font-size: 1.4em;
    color: black;
    opacity: 0.8;
}
.container-right{
    align-items: center;
}
.container-in-right a{
    margin: 0 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.container-input2{
    padding-left: 90px;
}
.container-input2 h2{
    font-size: 1em;
    color: black;
    font-weight: 100;
    margin-bottom: 10px;
    opacity: 0.5;
}
.input-bottom{
    width: 300px;
    position: relative;
}
.input-bottom input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    position: relative;
}

.input-bottom label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 12px;
    transition: .5s ease;
    opacity: 0.5;
}
.input-bottom input:focus~label,
.input-bottom input:valid~label{
    top: 1px;
}

.active-input{
    position: absolute;
    width: 0%;
    height: 2px;
    background: black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: .3s ease;
}

.input-bottom input:focus~.active-input{
    width: 100%;
}

.social-media{
    padding-left: 90px;
    margin-top: 50px;
}
.social-media a{
    margin: 0 20px 0 0;
    color: black;
    opacity: 0.7;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.footer{
    display: flex;
    gap: 40px;
    padding: 90px;
}
.footer ul{
    list-style: none;
}
.footer h4{
    font-size: 14px;
    margin-bottom: 10px;
}
.footer a{
    color: black;
    opacity: 0.7;
    text-decoration: none;
    font-size: 10px;
}
.footer a:hover{
    text-decoration: underline;
}

.container-bottom2{
    display: flex;
    padding: 90px;
    gap: 5px;
    align-items: center;
}
.container-bottom2 a{
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.container-none{
    margin-top: 80px;
}
@media(max-width:650px){
    .nav{
        width: 100%;
    }
    .option{
        grid-template-columns: repeat(4, 100vw);
    }
    .icon-search{
        display: inline-flex;
    }
    .container{
        display: none;
    }
    .containerr{
        display: block;
        overflow: hidden;
        width: 100vw;
    }
    .content1 img{
        scroll-snap-align: start;
        scroll-snap-stop: always;
        width: 100%;
    }
    .page{
        margin: 0;
        display: block;
    }
    .content1{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 100%);
        height: fit-content;
        min-height: calc(100vh -60px);
        transition: .5s ease;
    }
    .content1:nth-child(1){
        position: relative;
    }
    .container-btm{
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #eee;
        left: 0;
    }
    .add{
        width: 100%;
    }
    .add button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }
    .container-btm .color2 div{ 
        width: 40px;
        height: 40px;
        background: red;
        margin: 5px 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
    }
    .container-btm .color2 div.active2{
        position: relative;
    }
    .container-btm .color2 div.active2:after{
        position: absolute;
        content: '';
        width: 10px;
        height: 2px;
        background: #1f293a;
        bottom: -10px;
        right: 50%;
        transform: translate(50%);
        transition: .5s ease;
    }
    .container-btm .color2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        padding: 10px;
        position: relative;
        
    }

    body{
        overflow-x: hidden;
    }
    .container-rps{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price{
        padding-left: 40px;
    }
    .container-prod{
        display: none;
    }
    .logo{
        display: none;
    }
    .input-box{
        display: none;
    }
    .container-icon{
        display: inline-flex;
    }
    .container-right{
        display: none;
    }
    .container-none{
        display: none;
    }

    .container-logo2 .logo2{
        font-size: 2em;
        margin-top: 0;
        margin-left: 10px;
    }
    .container-logo2{
        padding: 1.5em 2%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .container-in-left .logo2{
        display: none;
    }
    
}
@media(max-width:1220px){
    .container-left{
        display: none;
    }
    .container{
        gap: 10px;
    }
}
/* h1{
    min-height: 200vh;
    align-items: center;
    display: flex;
}
::-webkit-scrollbar{
    height: 1px;
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background: green;
    border-radius: 8px;
    height: 2px;
} */